@import "~bootstrap/scss/bootstrap";
@import './sass/line';

.modal {
    display: block;
    background-color: #0000005f;
}

.image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: flex-start;
    svg {
        width: 100px;
        height: 100px;
        transition: all 2s;
    }
}

.home-consumers-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    h4 {
        margin: 0 5px;
    }
}